/* Base card */
.feature-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Card hover effect */
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Icon animation */
.feature-icon {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin: 0 auto 1rem;
  transition: transform 0.3s ease;
}

/* Icon zoom on hover */
.feature-card:hover .feature-icon {
  transform: scale(1.1);
}

.mission-card {
  transition: all 0.4s ease;
  background-color: #a6e2de;
  color: #000;
  border: 1px solid #050b10;
}

.mission-card:hover {
  background-color: #000;
  color: #89d7e1;
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3), 0 6px 15px rgba(0, 0, 0, 0.2);
  border-color: #000;
  cursor: pointer;
}

.mission-card:hover h4,
.mission-card:hover p {
  color: #69e4e4 !important;
}

.subscribe-section {
  background-color: #ffc0cb;
}

.promo-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 40px;
}



.promo-img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo-img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

